@model JDB.BI.ViewModels.RecentNewsItems

<script type="text/javascript">
    $(document).ready(function () {
        //  Responsive layout, resizing the items
        $('#news').carouFredSel({
            auto: false,
            responsive: true,
            width: '100%',
            scroll: 1,
            prev: '#prevNews',
            next: '#nextNews',
            pagination: false,
            mousewheel: false,
            swipe: {
                onMouse: true,
                onTouch: true
            },
            items: {
                width: 220,
                height: 'auto',   //  optionally resize item-height
                visible: {
                    min: 1,
                    max: 2
                }
            }
        });
    });
</script>

    @{
        if(@Model.ShowItems==true)
        {
            <h2 class="v3 mobile_mar_top">Recent News</h2>
            <div class="list_carousel responsive">
            <ul id="news">

                    @foreach(var item in Model.NewsItems)
                    {
                        <li>
                                <p><span class="day">@item.NewsDate.ToString("dd")/</span><span class="month">@item.NewsDate.ToString("MMM").ToLower().@item.NewsDate.ToString("yyyy")</span></p>
				                <p class="lh21"><span class="txt1">@item.Headline</span>@item.Teaser</p>
				                @Html.ActionLink("More","NewsItem", "RecentNews", new {ID=@item.NewsItemId}, new {@class="more_btn2"})      
                        </li>
                    }                      
             
            </ul>

                 <div class="clear"></div>
	             <a class="prev" id="prevNews"  href="javascript:;"></a>
	            <a class="next" id="nextNews"  href="javascript:;"></a> 
            </div>
        }
    }

   
