@model JDB.BI.ViewModels.HomePageSlider
           


@if (Model.Images.Count > 0)
{
    <div class="slider">
    <div class="" id="HomePageSlider">
    @foreach (var item in Model.Images)
    {
        <div data-src="@Url.Content("~/Assets/" + @item.Image)"></div>
    }
    </div>
    </div>
}
 <script type="text/javascript">
          $(document).ready(function () {
              $('#HomePageSlider').camera({
                  loader: @Model.ShowLoader.ToString().ToLower(),
                  pagination: @Model.Paginate.ToString().ToLower(),
                  thumbnails: @Model.HasThumbnails.ToString().ToLower(),
                  height: '36.5%',
                  fx: 'simpleFade',
                  rows: '1',
                  slicedCols: '1',
                  slicedRows: '1',
                  caption: @Model.ShowCaption.ToString().ToLower()
              });
          });

          $(document).ready(function () {
              $('.magnifier2').touchTouch();
          });
</script>
