@using Resources;


<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.Partial("Partials/_LayoutIncludes")
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                    url: '@Url.Action("GetTopNav")',
                    type: 'GET',
                    cache: false,
                }).done(function(result) {
                        $('nav').html(result);
                });
        });

       
    
    </script>
</head>
<body>

<!--button back top-->
	<div id="back-top">Back To Top</div>
<div class="main">
	<div class="div-content">    
<!--==============================header=================================-->
		<header>
			<div class="container_12">
				<div class="grid_12">
					<h1><img src="@Url.Content("~/Content/images/FlyAmerica.png")" alt="Fly America"></h1>                    
                    <nav></nav>
				</div>
			</div>
		</header>
	</div>
</div>



    @RenderBody()


	<footer>
		  <div class="main-footer">
			<div class="container_12">
				<div class="grid_12">
						<div class="grid_3 alpha maxheight">
							<h2>company</h2>
							<ul class="listWithMarker2">
								<li><a href="#">ABOUT US</a></li>
								<li><a href="#">CLIENTS</a></li>
								<li><a href="#">PRESENTATION</a></li>
								<li><a href="#">support</a></li>
								<li><a href="#">Schedule</a></li>
							</ul>
						</div>
	
						<div class="grid_3 maxheight">
							<h2>overview</h2>
							<ul class="listWithMarker2">
								<li><a href="#">What We Do</a></li>
								<li><a href="#">news</a></li>
								<li><a href="#">it solutions</a></li>
							</ul>
						</div>


						<div class="grid_3 maxheight">
							<h2>for clients</h2>
							<ul class="listWithMarker2">
								<li><a href="#">FORUMS</a></li>
								<li><a href="#">PROMOTIONS</a></li>
								<li><a href="#">SIGN IN</a></li>
								<li><a href="#">News</a></li>
							</ul>
						</div>
	
						<div class="grid_3 omega maxheight">
							<h2>archive</h2>
							<ul class="listWithMarker2">
								<li><a href="#">May 2013</a></li>
								<li><a href="#">April 2013</a></li>
								<li><a href="#">March 2013</a></li>
								<li><a href="#">June 2013</a></li>
								<li><a href="#">July 2013</a></li>
							</ul>
						</div>

					<div class="grid_12 txt_cntr">
						<p>&copy; 2013 <a href="index-6.html">| Privacy Policy</a><br><!--{%FOOTER_LINK} --></p>
						<div class="social">
							<a href="#"><img src="images/soc_1.png" alt=""></a>
							<a href="#"><img src="images/soc_2.png" alt=""></a>
							<a href="#"><img src="images/soc_3.png" alt=""></a>
							<a href="#"><img src="images/soc_4.png" alt=""></a>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		  </div>  
		</footer>
</body>
</html>
